<div class="container">
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <span class="is-brand is-primary">J</span>
            <span class="is-brand is-secondary">A</span>
          </a>

          <button class="button navbar-burger">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="navbar-menu">
          <!-- navbar start, navbar end -->
          <div class="navbar-start">
            <!-- navbar items -->
          </div>

          <div class="navbar-end">
            <!-- navbar items -->
            <a class="navbar-item">
              Blog
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <a class="navbar-item">
              Work
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container">
        <figure class="image">
          <img src="assets/jhon-avatar.jpg">
        </figure>
        <p class="title">
          <span class="spring">H</span>
          <span class="spring">i</span>
          <span class="spring">,</span>
          <br>
          <span class="spring">I</span> 
          <span class="spring">'</span>
          <span class="spring">m</span>
          <span class="space"></span>
          <span class="spring">J</span>
          <span class="spring">h</span>
          <span class="spring">o</span>
          <span class="spring">n</span>
          <span class="spring">,</span>
          <br>
          <span class="spring">F</span>
          <span class="spring">r</span>
          <span class="spring">o</span>
          <span class="spring">n</span>
          <span class="spring">t</span>
          <span class="spring">e</span>
          <span class="spring">n</span>
          <span class="spring">d</span>
          <span class="space"></span>
          <span class="spring">d</span>
          <span class="spring">e</span>
          <span class="spring">v</span>
          <span class="spring">e</span>
          <span class="spring">l</span>
          <span class="spring">o</span>
          <span class="spring">p</span>
          <span class="spring">e</span>
          <span class="spring">r</span>
          <span class="spring">.</span>
        </p>
      </div>
    </div>
  </section>
</div>
<app-background></app-background>