<div class="container">
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is-brand" href="">
            <span id="j">J</span>
            <span id="a">A</span>
          </a>
        </div>
        <div class="navbar-menu">
          <!-- navbar start, navbar end -->
          <div class="navbar-start">
            <!-- navbar items -->
          </div>

          <div class="navbar-end">
            <!-- navbar items -->
            <a href="mailto:hello@jhonalino.com" title="say hello" class="navbar-item">
              hello@jhonalino.com
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column col1">
            <figure class="image">
              <img src="assets/jhon2.jpg" (mouseenter)="triggered()" (mouseleave)="untrigger()">
            </figure>
          </div>
          <div class="column">
            <p class="title">
              <span class="spring">H</span>
              <span class="spring">i</span>
              <span class="spring">,</span>
              <br>
              <span class="spring">I</span>
              <span class="spring">'</span>
              <span class="spring">m</span>
              <span class="space"></span>
              <span class="spring">J</span>
              <span class="spring">h</span>
              <span class="spring">o</span>
              <span class="spring">n</span>
              <span class="spring">,</span>
              <br>
              <span class="spring">F</span>
              <span class="spring">r</span>
              <span class="spring">o</span>
              <span class="spring">n</span>
              <span class="spring">t</span>
              <span class="spring">e</span>
              <span class="spring">n</span>
              <span class="spring">d</span>
              <span class="space"></span>
              <span class="spring">d</span>
              <span class="spring">e</span>
              <span class="spring">v</span>
              <span class="spring">e</span>
              <span class="spring">l</span>
              <span class="spring">o</span>
              <span class="spring">p</span>
              <span class="spring">e</span>
              <span class="spring">r</span>
              <span class="spring">.</span>
              <br>
              <span id="awesome" class="is-white">You're awesome!</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">Featured work experience</h1>
      <div class="columns is-multiline">
        <div class="column is-half" *ngFor="let a of arr">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{a.imgUrl}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{a.title}}</p>
                  <p class="subtitle is-6">{{a.subtitle}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<footer>
  <div class="row1">
    <div class="social-media">
      <div class="link-list">
        <a target="_blank" href="https://www.instagram.com/jhon.alino/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/jhonalino/">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://github.com/jhonalino">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="mailto:hello@jhonalino.com" title="say hello">
          hello@jhonalino.com
        </a>
      </div>
    </div>
    <div class="credits">
      <span>Brewed with ❤️ </span>
      <span style="margin-left: 0.3em"> and </span>
      <a target="_blank" href="https://bulma.io">bulma</a>,
      <a target="_blank" href="https://marcbruederlin.github.io/particles.js/">particle.js </a>,
      <a target="_blank" href="https://daneden.github.io/animate.css/">animate.css</a>,
      <a target="_blank" href="https://angular.io">angular</a>,
      <a target="_blank" href="https://simpleicons.org/">simpleicons</a>, thumbs up icon
      <br> made by
      <a target="_blank" href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from
      <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
      <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </div>
  <div class="row2">
    <p>© 2017 Jhon Alino </p>
  </div>
</footer>

<app-background [color]="backgroundColor"></app-background>