.navbar {
    margin-top: 2em;
    .navbar-item {
        font-weight: bold;
    }

    .is-brand {
        font-size: 4em;
        text-shadow: 1px 1px 10px rgba(75, 68, 68, 0.562);
    }
    $is-primary: #FF6347;
    $is-secondary: #BCF248;
    .is-primary {
        color: $is-primary;
    }

    .is-secondary {
        color: $is-secondary;
        margin-top: .5em;
    }
}


.hero-body {
       .image img{
            border-radius: 100%;
            width: 256px;
            height: 256px;
            border: 5px solid #FF6347;
            transition: border-color .3s, transform .3s;
            &:hover {
                transition: border-color .3s, transform .3s;
                border-color: #BCF248;
                transform: scale(1.1) rotate(6deg);
            }
       }
       .title {
           margin-top: 0.5em;
           font-size: 4em;
           cursor: default;

           .space {
               margin-left: 0.5em;
           }

           .spring {
               display: inline-block; //so I can change the transform of this span
               margin: -7px;

               transition: color .3s;

               &:hover {
                   transition: color .1s;
                   color: #BCF248;
               }
           }
        }
}