/* @import url('https://fonts.googleapis.com/css?family=Rubik:300,400'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
body {
	margin: 0;
	padding: 0;
	/* font-family: 'Rubik', sans-serif; */
	font-family: 'Montserrat', sans-serif;
}
